<#import "parts/common.ftl" as common>
<@common.page>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, guest!</h1>
        <p class="lead">This is simple app writen by Spring Boot</p>
    </div>
</div>

</@common.page>